@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  line-height: 1.3;
  font-family: "Roboto Slab", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

img.img-flex:first-child {
  position: relative;
}

img.img-flex:nth-of-type(2) {
  position: relative;
}

img.img-flex:last-child {
  position: relative;
}

figure.veggie-burger:nth-of-type(2) {
  position: absolute;
}

figure.veggie-burger:first-child {
  position:absolute;
}

figure.veggie-burger:last-child {
  position: absolute;
}

figcaption {
  position: absolute;
  max-width: 15em;
  bottom: .5rem;
  left: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  padding: 1rem;
  border-radius: 10px;
}
